doctype html
html(lang="en")
  head
    title Reset Password
    link(rel="stylesheet" href="/static/reset-password.css")
  body
    .container
      h1 RESET PASSWORD!
      
      if error
        .error-message
          | #{error}
      
      if message
        .success-message
          | #{message}
      
      form(method="post" action="/reset-password")
        label(for="username") Tên đăng nhập:
        input(type="text" name="username" placeholder="User Name" required)
        
        label(for="email") Email:
        input(type="email" name="email" placeholder="Email Dang Ky" required)
        <hr>
        button(type="submit") Gửi yêu cầu

      .note
        | Nếu bạn gặp vấn đề.<br>Vui lòng liên hệ với 
        a(href="/contact") bộ phận hỗ trợ!
        br
        br
        a.back-link(href="/login") Back