doctype html
html
  head
    title Cập nhật mật khẩu
    link(rel="stylesheet" href="/static/update-password.css")
  body
    if message
      p(style="color: green;")= message
    form(method="POST" action="/update-password")
      input(type="hidden" name="token" value=token)
      label(for="matKhauMoi") Mật khẩu mới
      input(type="password" name="matKhauMoi" required)
      button(type="submit") Cập nhật mật khẩu
    p
      a(href="/login") Quay lại trang đăng nhập